@model IndexersCP4.Models.IndexersModel

<script src="~/Scripts/jquery-1.7.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<form id="IndexersNewsForm" class="gForm">
    @Html.ValidationSummary(true)
     <div id="messageBox1">
            <ul></ul> 
        </div>
    <fieldset>
        <legend></legend>
			@Html.HiddenFor(model => model.IndexerID)
		<div class="editor-label">
			@Html.LabelFor(model => model.Name)
		</div>
		<div class="editor-field">
			@Html.EditorFor(model => model.Name)
			@Html.ValidationMessageFor(model => model.Name)
		</div>
		<div class="editor-label">
			@Html.LabelFor(model => model.OwnerID)
		</div>
		<div class="editor-field">
			@Html.DropDownListFor(x => x.OwnerID,  (IEnumerable<SelectListItem>)ViewData["OwnerID"],"Choose")
			@Html.ValidationMessageFor(model => model.OwnerID)
		</div>
    </fieldset>
</form>
