@model Test.Models.SchoolsModel

<script src="~/Scripts/jquery-1.7.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<form id="SchoolsNewsForm" class="gForm">
    @Html.ValidationSummary(true)
     <div id="messageBox1">
            <ul></ul> 
        </div>
    <fieldset>
        <legend></legend>
		<div class="editor-label">
			@Html.LabelFor(model => model.SchoolID)
		</div>
		<div class="editor-field">
			@Html.EditorFor(model => model.SchoolID)
			@Html.ValidationMessageFor(model => model.SchoolID)
		</div>
		<div class="editor-label">
			@Html.LabelFor(model => model.Name)
		</div>
		<div class="editor-field">
			@Html.EditorFor(model => model.Name)
			@Html.ValidationMessageFor(model => model.Name)
		</div>
    </fieldset>
</form>
