@{
    ViewBag.Title = "Home Page";
}
<h1>Administrator Activities</h1>
<div class="reading_area">
    <ul>

		<li>@Html.ActionLink("Indexers", "Index", "Indexers")</li>
		<li>@Html.ActionLink("IndexersOwners", "Index", "IndexersOwners")</li>
		<li>@Html.ActionLink("IndexersWithJournals", "Index", "IndexersWithJournals")</li>
		<li>@Html.ActionLink("Journals", "Index", "Journals")</li>
		<li>@Html.ActionLink("JournalsOwners", "Index", "JournalsOwners")</li>
		<li>@Html.ActionLink("RoundsLog", "Index", "RoundsLog")</li>
		<li>@Html.ActionLink("Status", "Index", "Status")</li>
    </ul>
</div>