@model AppCore.ImagesWithBlocksModel

<script src="~/Scripts/jquery-1.7.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<form id="ImagesWithBlocksNewsForm" class="gForm">
    @Html.ValidationSummary(true)
     <div id="messageBox1">
            <ul></ul> 
        </div>
    <fieldset>
        <legend></legend>
			@Html.HiddenFor(model => model.ID)
		<div class="editor-label">
			@Html.LabelFor(model => model.ImageID)
		</div>
		<div class="editor-field">
			@Html.DropDownListFor(x => x.ImageID,  (IEnumerable<SelectListItem>)ViewData["ImageID"],"Choose")
			@Html.ValidationMessageFor(model => model.ImageID)
		</div>
		<div class="editor-label">
			@Html.LabelFor(model => model.BlocKey)
		</div>
		<div class="editor-field">
			@Html.EditorFor(model => model.BlocKey)
			@Html.ValidationMessageFor(model => model.BlocKey)
		</div>
    </fieldset>
</form>
