@model News.Models.ItemsModel

<script src="~/Scripts/jquery-1.7.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<form id="NewsForm" class="gForm">
    @Html.ValidationSummary(true)
     <div id="messageBox1">
            <ul></ul> 
        </div>
    <fieldset>
        <legend>ItemsModel</legend>

        @Html.HiddenFor(model => model.ItemID)

        <div class="editor-label">
            @Html.LabelFor(model => model.CategoryID)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(x => x.CategoryID,  (IEnumerable<SelectListItem>)ViewData["Categories"],"Choose")
            @Html.ValidationMessageFor(model => model.CategoryID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PhotoFile)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PhotoFile)
            @Html.ValidationMessageFor(model => model.PhotoFile)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Url)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Url)
            @Html.ValidationMessageFor(model => model.Url)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Type)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Type)
            @Html.ValidationMessageFor(model => model.Type)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IsMain)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IsMain)
            @Html.ValidationMessageFor(model => model.IsMain)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.YoutubeCode)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.YoutubeCode)
            @Html.ValidationMessageFor(model => model.YoutubeCode)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Title)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Title)
            @Html.ValidationMessageFor(model => model.Title)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </div>


        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
</form>
