@model IndexersCP4.Models.JournalsModel

<script src="~/Scripts/jquery-1.7.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<form id="JournalsNewsForm" class="gForm">
    @Html.ValidationSummary(true)
     <div id="messageBox1">
            <ul></ul> 
        </div>
    <fieldset>
        <legend></legend>
		<div class="editor-label">
			@Html.LabelFor(model => model.JournalCode)
		</div>
		<div class="editor-field">
			@Html.EditorFor(model => model.JournalCode)
			@Html.ValidationMessageFor(model => model.JournalCode)
		</div>
		<div class="editor-label">
			@Html.LabelFor(model => model.FullTitle)
		</div>
		<div class="editor-field">
			@Html.EditorFor(model => model.FullTitle)
			@Html.ValidationMessageFor(model => model.FullTitle)
		</div>
		<div class="editor-label">
			@Html.LabelFor(model => model.ShortTitle)
		</div>
		<div class="editor-field">
			@Html.EditorFor(model => model.ShortTitle)
			@Html.ValidationMessageFor(model => model.ShortTitle)
		</div>
		<div class="editor-label">
			@Html.LabelFor(model => model.JournalSubCode)
		</div>
		<div class="editor-field">
			@Html.EditorFor(model => model.JournalSubCode)
			@Html.ValidationMessageFor(model => model.JournalSubCode)
		</div>
		<div class="editor-label">
			@Html.LabelFor(model => model.JournalOwner)
		</div>
		<div class="editor-field">
			@Html.EditorFor(model => model.JournalOwner)
			@Html.ValidationMessageFor(model => model.JournalOwner)
		</div>
		<div class="editor-label">
			@Html.LabelFor(model => model.Note)
		</div>
		<div class="editor-field">
			@Html.EditorFor(model => model.Note)
			@Html.ValidationMessageFor(model => model.Note)
		</div>
    </fieldset>
</form>
