@{
    ViewBag.Title = "Home Page";
}
<h1>Administrator Activities</h1>
<div class="reading_area">
    <ul>

		<li>@Html.ActionLink("ContentBlocks", "Index", "ContentBlocks")</li>
		<li>@Html.ActionLink("Images", "Index", "Images")</li>
		<li>@Html.ActionLink("ImagesCategories", "Index", "ImagesCategories")</li>
		<li>@Html.ActionLink("ImagesWithBlocks", "Index", "ImagesWithBlocks")</li>
		<li>@Html.ActionLink("Requests", "Index", "Requests")</li>
    </ul>
</div>