@model EmptyProject.Models.LoginModel

@{
    ViewBag.Title = "Log in";
}
<h2>Log In</h2>
    <div  class="gForm">
@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {

    <fieldset>
        <legend></legend>
           @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
		<div class="editor-label">
			  @Html.LabelFor(m => m.UserName)
		</div>
		<div class="div.editor-field2">
		        @Html.TextBoxFor(m => m.UserName)
                @Html.ValidationMessageFor(m => m.UserName)
		</div>
		<div class="editor-label">
                @Html.LabelFor(m => m.Password)
		</div>
		<div class="editor-field2">
			    @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
		</div>
		
		
        <div class="editor-label">
		</div>
		<div class="editor-field2">
			<input type="submit" value="Log in" />
		</div>
    </fieldset>
}
</div>